{
	LegacyMirrors = {
		2008 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2008/tlnet/";
		2009 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2009/tlnet/";
		2010 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2010/tlnet-final/";
		2011 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2011/tlnet-final/";
		2012 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2012/tlnet-final/";
		2013 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2013/tlnet-final/";
		2014 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2014/tlnet-final/";
		2015 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2015/tlnet-final/";
		2016 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2016/tlnet-final/";
		2017 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2017/tlnet-final/";
		2018 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2018/tlnet-final/";
		2019 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2019/tlnet-final/";
		2020 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2020/tlnet-final/";
		2021 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2021/tlnet-final/";
		2022 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2022/tlnet-final/";
		2023 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2023/tlnet-final/";
		2024 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/";
		2025 = "https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2025/tlnet-final/";
	};
	CriticalMirror = "https://tug.org/texlive/tlcritical";
}